{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}" />

<!-- header code -->
<header>
  <div class="header">
    <div class="brand">
      <h4>
        Federal Ministry Of Humanitarian Affairs, Disaster <br />
        Management and Social Development
      </h4>
    </div>
    <div class="dropdown-toggler-icon">
      <button class="bi bi-justify"></button>
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="list-item"><a href="">Home</a></li>
        <li class="list-item"><a href="">News</a></li>
        <li class="list-item"><a href="">About</a></li>
        <li class="list-item"><a href="">Contact</a></li>
        <li class="list-item">
          <a href="" class="nav-link"
            ><button class="login-button" type="button">login</button></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
